<!DOCTYPE html>
<html>
<body>
<%= stylesheet_link_tag "styles4.css"%>
<h2>All Flights</h2>

<table style="width:100%">
  <tr>
    <th>Flight id</th>
    <th>Flight No</th>
    <th>Flight Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Takeoff_time</th>
    <th>Landing_time</th>
    <th>Price</th>
    <% if current_user.role=="passenger"%>
      <th>Book Here </th>
    <% end %></td>
  </tr>
  
  <% @flights.each do |flight| %>
    <tr>
      <td><%= flight.id %></td>
      <td><%= flight.flight_no %></td>
      <td><%= flight.flight_name %></td>
      <td><%= flight.source %></td>
      <td><%= flight.destination %></td>
      <td><%= flight.takeoff_time %></td>
      <td><%= flight.landing_time%> </td>
      <td><%= flight.price %></td>
      <td><% if current_user.role=="passenger"%>
         <%= button_to 'Book', bookings_path(user_id: current_user.id,flight_id: flight.id), method: :post%>
         <% end %></td>
    </tr>
       
  <% end %> 

</table>
           <% if current_user.role=="admin"%>
             <%= link_to "Schedule new flight", new_flight_path%>
           <% end %></td>
</body>
</html>
