<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse:collapse;
}
body {background-color: #ffcc99;}
</style>
<body>

<h2>All Flights</h2>

<table style="width:100%">
  <tr>
    <th>Flight id</th>
    <th>Flight No</th>
    <th>Flight Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Takeoff_time</th>
    <th>Landing_time</th>
    <th>Price</th>
    <th>Total_Seats</th>
    <th>Available_Seats</th>
    <th>Occupies_Seats</th>
  </tr>
  
      <% @flights.each do |flight| %>
      <tr>
          <td><%= flight.id %></td>
          <td><%= flight.flight_no %></td>
          <td><%= flight.flight_name %></td>
          <td><%= flight.source %></td>
          <td><%= flight.destination %></td>
          <td><%= flight.takeoff_time %></td>
          <td><%= flight.landing_time%> </td>
        
          <td><%= flight.price %></td>
          <td><%= flight.total_seats %></td>
          <td><%= flight.available_seats %></td>
          <td><%= flight.occupied_seats %></td>
          </tr>
      <% end %> 

</table>
<h3><li> <a href="/flightroutes/new">Schedule new flight</a></li></h3>
</body>
</html>
